@{
    ViewData["Title"] = "Yetki Hatası oluştu";
}
<div class="card col-8 mx-auto">
    <div class="card-body">
        <div class="alert-warning alert p-5">
            <h4>
                Bu sayfaya erişmek için yetkiniz bulunmuyor!
            </h4>
            <p>
                Lütfen sistem yöneticisi ile iletişime geçin.
            </p>
        </div>
    </div>
</div>